{% extends "partials/base.html" %}
{% block title %} Delete Product Page{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 ">
                <div class="border bg-white p-3">
                    <h3>Delete Item</h3>
                    <hr>
                    <div class="alert alert-danger">
                        <h4>Are you sure want to delete?</h4>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <a class='btn btn-danger' href="{% url 'dashboard-product' %}" >Cancel</a>
                        <input type="submit" class="btn btn-info" value="Confirm">
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}