{% extends "partials/base.html" %}
{% block title %}Profil page{% endblock title %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container">
        <div class="row my-4 justify-content-center">
            
            <div class="col-md-8 ">
                {% for message in messages %}
                {% if message %}
                    <div class="alert alert-{{ message.tags }} ">
                        {{ message }}
                    </div>
                {% endif %}   
                {% endfor %}
                <div class="card">
                    <div class="card-header bg-info text-white">
                        Profile Page
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <span class="h4"> Profile Information</span> <a class="btn btn-info btn-sm float-right"
                                    href="{% url 'user-profile_update' %}">Edit</a>
                                <hr>
                                <table class="table bg-white table-borderless">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Name</th>
                                            <td>{{user.username}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Email</th>
                                            <td> {{ user.email }} </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Phone</th>
                                            <td> {{ user.profil.phone }} </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Address</th>
                                            <td>{{ user.profil.address }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="col-md-4">
                                <img class="img-thumbnail" src="{{user.profil.image.url}}" alt="error" data-bs-toggle="modal" data-bs-target="#imageModal" style="cursor: pointer;">
                            </div>

                            <!-- Modal Bootstrap(pour l'affichage d'un popup pour agrandir l'image) -->
                            <div class="modal fade custom-modal-size" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true" >
                                <div class="modal-dialog modal-dialog-centered custom-modal-size">
                                    
                                    <div class="modal-content">
                                        <div class="modal-body p-0">
                                            <img src="{{ user.profil.image.url }}" class="img-fluid w-100" alt="Profile Picture">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-4">

            </div> -->

        </div>

    </div>

{% endblock content %}
